@import "_transition.scss";
input{
  padding: 6px;
  outline: none!important;
  border: 1px solid #e6ebed;
  @include uiTransitionAll;
  box-sizing: border-box;
  border-radius: 3px;
  &:focus{
    border-color: #49C7F9;
  }
}

textarea{
  @extend input;
  resize: none;//多行文本的
  height:50px;
}
